.holder{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}

div div:nth-child(1){
	height:100px;
	width:100px;
	background-color:green;
}

div div:nth-child(2){
	height:100px;
	width:100px;
	background-color:red;
}

div div:nth-child(3){
	height:100px;
	width:100px;
	background-color:blue;
}

